@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Distressed&display=swap');
body {
    margin: 0;
    box-sizing: border-box;
}

.toolbar{
    display:flex;
    width: 100%;
    /* background-color: black; */
    height: 100px;
    justify-content: space-evenly;
    align-items:center;
    
} 
.toolbar input{
    width:11cm;
    height:0.10cm;
}

.number {
    text-align: center;
}
.number h5 {
    margin: 0;
    color:brown;
    font-family: Arial;
    font-weight:bolder;
    font-size: 18px;
}
.number p {
    margin: 0;
}
.nav{
    display:flex;
    background-color:#486241;
    height:2cm;
    justify-content: space-evenly;
    align-items:center;
    font-weight: bolder;
}
.nav-item{
    color:black;
    text-decoration: none;
    padding:30px;
}
.nav-item:hover{
    color:#AA0000;
    background-color: wheat;
    padding:30px;
}

#sentence{
    text-align: center;
    font-family: Arial;
    font-weight:bolder;
    font-size: xx-large;
}

.container {
    display: flex;  
    width: 100%;
    /* height: 10cm; */
}

.slide {
    flex:60%;
    /* height:100%; */
}
.slide img {
    width: 100%;
}

.box{
    display:flex;
    flex: 40%;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.box img {
    width: 45%;
    height: 48%;
    margin-bottom:18px;
}