.toolbar{
    display:flex;
    width: 100%;
    /* background-color: black; */
    height: 100px;
    border: 1px solid;
} 
.toolbar input{
    width:11cm;
    height:0.9cm;
}

.toolbar form{
    justify-content: center;
    align-items:center;
    min-height: 20vh;
}
